<form role="form" class="form-horizontal" ng-controller="mfController">
    <h3>Registrer varsler</h3>
    <br />

    <fieldset>
        <legend>Type varsel</legend>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <span><b>Flomvarsel</b></span>
                <div ng-repeat="(floodLevel, enabled) in floodWarning">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <input type="checkbox" id="flood{{floodLevel}}" ng-model="floodWarning[floodLevel]" /> <!-- Must seperate checkbox and label du to awesome-bootstrap-checkbox.css-->
                            <label for="flood{{floodLevel}}">{{floodLevel}}</label>
                        </div>
                    </div>
                </div>
                <!--<p style="color: lightblue">{{floodWarning}}</p>-->
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-sm-offset-1">
                <span><b>Jordskredvarsel</b></span>
                <div ng-repeat="(landslideLevel, enabled) in landslideWarning">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <input type="checkbox" id="landslide-{{landslideLevel}}" ng-model="landslideWarning[landslideLevel]" />
                            <label for="landslide-{{landslideLevel}}">{{landslideLevel}}</label>
                        </div>
                    </div>
                </div>
                <!--<p style="color: lightblue">{{landslideWarning}}</p>-->
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-sm-offset-1">
                <span><b>Snøskredvarsel</b></span>
                <div ng-repeat="(avalancheLevel, enabled) in avalancheWarning">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <input type="checkbox" id="avalanche-{{avalancheLevel}}" ng-model="avalancheWarning[avalancheLevel]" />
                            <label for="avalanche-{{avalancheLevel}}">{{avalancheLevel}}</label>
                        </div>
                    </div>
                </div>
                <!--<p style="color: lightblue">{{avalancheWarning}}</p>-->
            </div>
        </div>
        <br />
    </fieldset>

    <fieldset>
        <legend>Område</legend>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <!-- fylke / kommune -->
                <div ng-show="enableCounties()">
                    <div class="col-md-2">
                        <span><b>Fylke</b></span>
                        <div ng-repeat="county in counties" ng-init="sectionIndex = $index">
                            <div class="checkbox">
                                <input type="checkbox" id={{county.Id}} ng-model="county.checked" ng-change="getCouncils(county)" />
                                <label for={{county.Id}}> {{county.name}}</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div ng-repeat="item in selectedCounties">
                            <div class="checkbox">
                                <input type="checkbox" id="{{item.KOMM_NR}}" ng-model="councilDetails.selected[item.attributes.KOMM_NR]">
                                <i><label for={{item.KOMM_NR}}> {{item.KOMMNAVN}}</label></i>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- varslingsregioner -->
                <div ng-show="enableAvalancheRegions()">
                    <div class="col-md-2">
                        <span><b>Varslingsregioner</b></span>
                        <div ng-repeat="region in avalancheRegions">
                            <div class="checkbox">
                                <input type="checkbox" id={{region.Id}} ng-model="region.checked" />
                                <label for={{region.Id}}> {{region.name}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- fylke / kommune -->
                <div class="col-md-6">
                    <div class="container-fluid">
                        <div class="row">
                            <div id="map" style="height: 600px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </fieldset>

    <fieldset>
        <legend>Periode</legend>
        <div class="col-sm-offset-1">
            <div ng-repeat="(ip,enabled) in period_ispermanent ">
                <div class="checkbox">
                    <input id="period-{{ip}}" type="checkbox" ng-model="period_ispermanent[ip]" />
                    <label for="period-{{ip}}">Alltid</label>
                </div>
            </div>
            <br />
        </div>
        <div class="form-group" ng-show="!period_ispermanent.Alltid">
            <div class="col-sm-offset-1">
                <div class="col-md-4">
                    <label><b>Fra dato</b></label>
                    <div style="display:inline-block; min-height:290px;">
                        <datepicker ng-model="dtFrom" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                </div>
                <div class="col-sm-offset-1 col-md-4">
                    <label><b>Til dato</b></label>
                    <div style="display:inline-block; min-height:290px;">
                        <datepicker ng-model="dtTo" min-date="minDate" show-weeks="true" class="well well-sm"></datepicker>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Tidpunkt</legend>
        <div class="col-sm-offset-1">
            <div ng-repeat="(timespan,enabled) in timespan_ispermanent ">
                <div class="checkbox">
                    <input id="timespan-{{timespan}}" type="checkbox" ng-model="timespan_ispermanent[timespan]" />
                    <label for="timespan-{{timespan}}">Hele døgnet</label>
                </div>
            </div>
            <br />
        </div>
        <div class="form-group" ng-show="!timespan_ispermanent.Alltid">
            <div class="col-sm-offset-1">
                <div class="col-md-2">
                    <label><b>Fra tidspunkt</b></label>
                    <timepicker ng-model="startTime" show-meridian="false"></timepicker>
                </div>
                <div class="col-md-2">
                    <label><b>Fra tidspunkt</b></label>
                    <timepicker ng-model="endTime" show-meridian="false"></timepicker>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Utsendelse</legend>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <div ng-repeat="(message,enabled) in messagetype">
                    <div class="checkbox">
                        <input id="messagetype-{{message}}" type="checkbox" ng-model="messagetype[message]" />
                        <label for="messagetype-{{message}}">{{message}}</label>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </fieldset>

    <fieldset>
        <legend>Andre mottakere <span style="color: lightblue">(dynamisk generert fra profil)</span></legend>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <div ng-repeat="(recipient, enabled) in recipients">
                    <div class="checkbox">
                        <input id="recipient-{{recipient}}" type="checkbox" ng-model="recipients[recipient]" />
                        <label for="recipient-{{recipient}}">{{recipient}}</label>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </fieldset>

    <fieldset>
        <legend>Motta oppgraderinger</legend>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <div ng-repeat="(msgUpdateType, enabled) in messageUpdate">
                    <div class="checkbox">
                        <input id="msgupdatetype-{{msgUpdateType}}" type="checkbox" ng-model="messageUpdate[msgUpdateType]" />
                        <label for="msgupdatetype-{{msgUpdateType}}">{{msgUpdateType}}</label>
                    </div>
                </div>
            </div>
        </div>
        <br />
    </fieldset>

    <fieldset>
        <legend>Motta nedgraderinger</legend>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <span><b>SMS</b></span>
                <div ng-repeat="(smslevel, enabled) in messageDegradeSMS">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <input type="checkbox" id="messageDegradeSMS-{{smslevel}}" ng-model="messageDegradeSMS[smslevel]" /> <!-- Must seperate checkbox and label du to awesome-bootstrap-checkbox.css-->
                            <label for="messageDegradeSMS-{{smslevel}}">{{smslevel}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="col-sm-offset-1">
                <span><b>Epost</b></span>
                <div ng-repeat="(emaillevel, enabled) in messageDegradeEmail">
                    <div class="col-md-2">
                        <div class="checkbox">
                            <input type="checkbox" id="messageDegradeEmail-{{emaillevel}}" ng-model="messageDegradeEmail[emaillevel]" /> <!-- Must seperate checkbox and label du to awesome-bootstrap-checkbox.css-->
                            <label for="messageDegradeEmail-{{emaillevel}}">{{emaillevel}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>



    <fieldset>
        <legend>Ditt varsel</legend>
        <div class="col-sm-offset-1">
            <span><b>Type varsel</b></span>
            <pre>Flomvarsel: {{floodWarning}}</pre>
            <pre>Jorskredvarsel: {{landslideWarning}}</pre>
            <pre>Snøskredvarsel: {{avalancheWarning}}</pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Område</b></span>
            <pre>{{currentCountyId}}</pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Valgt periode</b></span>
            <pre>Fra: <em>{{dtFrom | date:'fullDate'}}</em></pre>
            <pre>Til: <em>{{dtTo | date:'fullDate' }}</em></pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Tidspunkt</b></span>
            <pre>Fra: <em>{{startTime | date:'shortTime' }}</em></pre>
            <pre>Til: <em>{{endTime | date:'shortTime' }}</em></pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Utsendelse</b></span>
            <pre>{{messagetype}}</pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Andre mottakere</b></span>
            <pre>{{recipient}}</pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Motta oppgraderinger</b></span>
            <pre>{{messageUpdate}}</pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Motta nedgraderinger på sms</b></span>
            <pre>{{messageDegradeSMS}}</pre>
        </div>
        <div class="col-sm-offset-1">
            <span><b>Motta nedgraderinger på epost</b></span>
            <pre>{{messageDegradeEmail}}</pre>
        </div>
        <br />
    </fieldset>

    <fieldset>
        <div class="form-group">
            <div class="col-sm-offset-1">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
                <input type="button" class="btn btn-default" value="Avbryt"
                       ng-click="cancelForm()" />

                <input type="submit" class="btn btn-primary" value="Send"
                       ng-click="submitForm()" />
            </div>
        </div>
    </fieldset>

</form>
