<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="angularFormsApp">
<head>
    <title>Abonnementsløsning</title>
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Content/awesome-bootstrap-checkbox.css" />

    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <script src="app/AngularFormsApp.js"></script>
    <script src="app/DataService.js"></script>
    
    <script src="app/MessageForm/mfController.js"></script>
    <script src="app/MessageForm/mfDirective.js"></script>

</head>
<body ng-controller="mfController" class="container">
  
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="page-header">
                <h2>Pushifer</h2>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <img src="Images/SW_Logo.png" alt="Logo" />
                </div>
            </div>

            <div id="navbar" class="navbar-collapse collapse" ng-controller="HomeController">
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Email address">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-default">Sign In</button>
                </form>
            

                <ul class="nav navbar-nav">
                    <li><a ng-click="goToHome()"><i class="fa fa-home fa-fw"></i>&nbsp; Hjem</a></li>
                    <li><a ng-click="goToAddNewMessage()"><i class="fa fa-pencil fa-fw"></i>&nbsp; Registrer varsel</a></li>
                    <li><a ng-click="goToMessagesReport()"><i class="fa fa-book fa-fw"></i>&nbsp; Motatte varsel</a></li>
                    <li><a><i class="fa fa-cog fa-fw"></i>&nbsp; Profil</a></li>

                </ul>
            </div><!--/.nav-collapse -->

        </div><!--/.container-fluid -->
    </nav>


    <div ng-view>
        
    </div>

    <!-- <message-form/>-->

    
</body>
</html>
