<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="angularFormsApp">
<head>
    <title>Abonnementsløsning</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="Content/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="Content/awesome-bootstrap-checkbox.css" />
    <!-- /bootstrap -->

    <!-- esri -->
    <link rel="stylesheet" href="http://js.arcgis.com/3.13/esri/css/esri.css">
    <link rel="stylesheet" href="http://esri.github.io/bootstrap-map-js/src/css/bootstrapmap.css" />
    <style type="text/css">
        #regional-map {
            min-height: 600px;
            max-height: 1000px;
        }

        #avalancheregions-map {
            min-height: 600px;
            max-height: 1000px;
        }
    </style>
    <!-- /esri -->

    <!-- angular -->
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
    <!-- /angular -->
    
    
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="http://js.arcgis.com/3.13/"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    
    <!-- application -->
    <script src="app/AngularFormsApp.js"></script>
    <script src="app/DataService.js"></script>
    <script src="app/MessageForm/mfController.js"></script>
    <script src="app/MessageForm/mfDirective.js"></script>
    <script src="app/UserProfileForm/upController.js"></script>
    <script src="app/UserProfileForm/upDirective.js"></script>
    <!-- /application -->
    

</head>

<body class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="page-header">
                <h2>Pushifer</h2>
            </div>
            <div class="col-md-2">
                <div class="thumbnail">
                    <!--<img src="Images/SW_Logo.png" alt="Logo" />-->
                    <img src="Images/jess_logo.JPG" alt="Logo" />
                    <!--<img src="Images/nils_logo.JPG" alt="Logo" />-->
                </div>
            </div>

            <!-- page navigation-->
            <div id="navbar" class="navbar-collapse collapse" ng-controller="HomeController">
                <form class="navbar-form navbar-right" role="search">
                    <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="Email address">
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        <input class="form-control" type="password" placeholder="Password">
                    </div>

                    <button type="submit" class="btn btn-default">Sign In</button>
                </form>

                <ul class="nav navbar-nav">
                    <li><a ng-click="goToHome()"><i class="fa fa-home fa-fw"></i>&nbsp; Hjem</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-pencil fa-fw"></i>&nbsp; Abonnèr på varsel<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="goToAddNewMessage('Flomvarsel')">Flomvarsel</a></li>
                            <li><a ng-click="goToAddNewMessage('Jordskredvarsel')">Jordskredvarsel</a></li>
                            <li><a ng-click="goToAddNewMessage('Snøskredvarsel')">Snøskredvarsel</a></li>
                        </ul>
                    </li>
                    <li><a ng-click="goToMessagesReport()"><i class="fa fa-book fa-fw"></i>&nbsp; Tidligere motatte varsel</a></li>
                    <li><a ng-click="goToUserProfile()"><i class="fa fa-cog fa-fw"></i>&nbsp; Brukerprofil</a></li>

                </ul>
            </div>

        </div>
    </nav>

    <div ng-view>
    </div>
</body>
</html>
